/*
 * Copyright (c) 2025 Natalia Pluta
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		co-sensor = &sen0466;
	};
};

&pinctrl {
	i2c0_default_alt: i2c0_default_alt {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 1, 1)>,
				<NRF_PSEL(TWIM_SCL, 1, 3)>;
		};
	};

	i2c0_sleep_alt: i2c0_sleep_alt {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 1, 1)>,
				<NRF_PSEL(TWIM_SCL, 1, 3)>;
			low-power-enable;
		};
	};
};


&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
    pinctrl-0 = <&i2c0_default_alt>;
    pinctrl-1 = <&i2c0_sleep_alt>;
    pinctrl-names = "default", "sleep";

	sen0466: sen0466@74 {
		compatible = "dfrobot,sen0466";
		reg = <0x74>;
		label = "SEN0466";
        status = "okay";
	};
};
